<div class="footer">
	<div class="container">
		<div class="footer__list">
			<div class="footer__wrap footer__wrap--first">
				<a href="">
					<img src="/template/img/logo.png" alt="" />
				</a>
				<div class="footer__text">
					{{{translate("Land.Explore the captivating world of content with EContent, your ultimate platform for all your media and information needs. Our EContent brand offers comprehensive solutions for all your content desires. Whether you're seeking entertainment, in search of the latest trends, or craving knowledge on various subjects, EContent is here to fulfill your cravings. We also provide a wide range of services to help you discover and engage with a variety of media, so you can stay informed and entertained. With EContent, you'll gain access to a treasure trove of content that will keep you engaged and enlightened. Plus, you can find all the necessary resources and media you need to feed your curiosity and keep you entertained right here on our platform. Immerse yourself in the future of content consumption with EContent today!")}}}
				</div>
			</div>
			<div class="footer__list-wrap footer__wrap">
				<div class="footer__item">
					<a class="footer__links-title" href="https://neryxomka.com">{{{translate("Land.Econtent")}}}</a>
					<a href="/plan" class="footer__link">{{{translate("Land.Business Plan")}}}</a>
					<a href="/wiki" class="footer__link">{{{translate("Land.Wiki")}}}</a>
					<a href="/team" class="footer__link">{{{translate("Land.Who we are")}}}</a>
				</div>
				<div class="footer__item">
					<a class="footer__links-title" href="/products">{{{translate("Land.Products")}}}</a>
					<a href="/products" class="footer__link">{{{translate("Land.Face Cream")}}}</a>
					<a href="/products" class="footer__link">{{{translate("Land.Sport Clothes")}}}</a>
				</div>
				<div class="footer__item">
					<a class="footer__links-title" href="/services">{{{translate("Land.Services")}}}</a>
					<a href="/services" class="footer__link">{{{translate("Land.Custom Tables")}}}</a>
					<a href="/services" class="footer__link">{{{translate("Land.Custom Kitchen")}}}</a>
				</div>
				<div class="footer__item">
					<a class="footer__links-title" href="/articles">{{{translate("Land.Articles")}}}</a>
					<a href="/articles" class="footer__link">{{{translate("Land.New Face Cream")}}}</a>
					<a href="/articles" class="footer__link">{{{translate("Land.New Sport Clothes")}}}</a>
				</div>
				<div class="footer__item">
					<h3 class="footer__links-title">{{{translate("Land.Languages")}}}</h3>
					<button class="footer__link" onclick="selectLanguage('en')">
						English
					</button>
					<button class="footer__link" onclick="selectLanguage('ua')">
						Українська
					</button>
				</div>
			</div>

			<div class="footer__wrap footer__wrap--last">
				<div class="footer__wrap-socials">
					<!-- <a href="" class="footer__btn btn">
						<img src="/template/img/icons/v.svg" alt="" />
					</a> -->
					<a href="tel:+380960786786714" class="footer__btn btn">
						<img src="/template/img/icons/phone.svg" alt="" />
					</a>
					<a href="https://t.me/neryxomka_news" target="_blank" class="footer__btn btn">
						<img src="/template/img/icons/tg.svg" alt="" />
					</a>
					<a href="https://twitter.com/neryxomka" target="_blank" class="footer__btn btn">
						<img src="/template/img/icons/twit.svg" alt="" />
					</a>
					<a href="https://www.facebook.com/profile.php?id=100090910920539" target="_blank" class="footer__btn btn">
						<img src="/template/img/icons/face.svg" alt="" />
					</a>
					<a href="https://instagram.com/neryxomka?igshid=YmMyMTA2M2Y=" target="_blank" class="footer__btn btn">
						<img src="/template/img/icons/inst.svg" alt="" />
					</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
<script>
	function selectLanguage(lang) {
		fetch("/api/user/lang/" + lang, {
			method: "GET",
			headers: {
				"Content-Type": "application/json",
			},
		})
			.then((response) => response.json())
			.then((data) => {
				window.scrollTo(0, 0);

				location.reload();
			})
			.catch((error) => {
				console.error("Error:", error);
			});
	}
</script>
